@page "/memorygame"
@rendermode InteractiveAuto

<h3>Memory Game</h3>

<div class="container">
	<div class="row">
		@foreach (var card in shuffledCards)
		{
			<div class="col-md-4">@card.Content</div>
		}
	</div>
</div>


@code {

	private static List<Card> cards = new List<Card> { 
		new Card { Id = 1, Content = "B" }, 
		new Card { Id = 2, Content = "P" }, 
		new Card { Id = 3, Content = "D" }, 
		new Card { Id = 1, Content = "B" }, 
		new Card { Id = 2, Content = "P" }, 
		new Card { Id = 3, Content = "D" } 
	};
	private static Random random = new();
	private List<Card> shuffledCards = cards.OrderBy(x => random.Next()).ToList();



}
