.game-container {
    height: 100%;
    width: 100%;
    max-width: 650px;
    display: grid;
    gap:10px;
}
.game-container.Easy {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.game-container.Medium {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.game-container.Hard {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.flip-card {
    background-color: transparent;
    max-width: 110px;
    height: 7rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-inner.flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
    border: 1px solid black;
}

.flip-card-front {
    transform: rotateY(180deg);
    background-color: cadetblue;
    font-size: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    background-color:darkcyan;
}

.timer-stopped {
    color: green;
}